.bg-1 {
background: rgb(41,39,39);
background: linear-gradient(90deg, rgba(41,39,39,0.85) 0%, rgba(44,43,66,0.85) 11%, rgba(41,41,79,0.85) 51%, rgba(0,0,0,0.85) 100%); 
	margin: 0px;
}

.text-pop{
	text-shadow: 1px 1px silver;
}

.footer {
	background-color:#f5f5f5;
}

.form-text {
	letter-spacing: -1px;
}

.img-size {
	width:20rem;
	height:auto;
}

.img-size2 {
	width: 10rem;
	height: auto
}

.inline-form {
	width:75%;
	padding: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.skills {
	letter-spacing: -3px;
}

.text-1 {
	font-family: 'Titillium Web', sans-serif;
}

.text-2 {
	font-family: 'Open Sans', sans-serif;
}

